services:
  postgres:
    image: postgres:16-alpine
    container_name: backend-elysia-template-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
